.odd {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#even_1 {
    color: #0000ff;
    font-size: 36px;
}

.odd#odd_2 {
    font-size: 24px;
}

#even_2 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}